<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MY Home</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <h1>Be Happy with Node and Express.</h1>

  <script src="main.js"></script>

</body>
</html>